* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: white;
}
p {
  margin: 0;
}

/* CODE TỰ DO  */
.section {
  margin-top: 75px; 
  margin-bottom: 75px;

}
.line::after {
  content: '';
  display: block;
  width: 70%;
  height: 4px;
  background-color: #C7DCA7;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.overplay {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: linear-gradient(to right,rgb(255, 255, 255),transparent);
  z-index: 0;
 
 
}
.my-btn {
  width: 120px;
  height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  background-color: #609966;
  color: white;
  border: none;
  transition: all .5s;
}
.my-btn:hover {
 background-color: white;
 color: #609966;
 border: 1px solid #609966;
}

/* HEADER  */

.header {
  font-size: 0.8rem;
  padding: 15px 30px;
  border-bottom: 1px solid #EFF2F5;
  font-weight: bold;
  color: #616E85;
  text-align: center;
  display: flex ;
  align-items: center;
  margin-bottom: 1rem;
}

.header__item {
  margin-right: 10px;
  display: flex;
}
.header__item p {
  color: #609966;
}
.header__item i {
  font-size: 1rem;
  margin: 0 1rem;
}
.header__button button{
  width: 80px;
  height: 30px;
  border-radius: 10px;
  margin-right: 0.5rem;
  background-color: #EFF2F5;
  font-weight: bold;
  color: #616E85;
  border: none;
}
.my-btn-header {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-right: 0.8rem; 
  font-weight: bold;
  color: #616E85;
  border: 1px solid #609966;
  background-color: #609966;
  color: white;
  transition: all .5s;
}
.my-btn-header:hover {
  background-color: #508655;
  
}
.header__login {
  margin-left: 3rem;
  
}
.header__login #login {
  background-color: transparent;
  color: #609966;
  border: 1px solid #609966;
  transition: all .5s;
}
.header__login #login:hover {
   
  background-color: rgb(248, 250, 253);
  
  
}

/* NAVBAR  */
.header__menu {
  border-bottom: 1px solid #EFF2F5;
  padding-bottom: 20px;
}

.header__menu .header__logo {
  color: #609966;
  font-weight: bold;
  font-size: 1.3rem;
}
.header__menu .header__fun {
  margin-left: 3rem;
  color: black;
  font-size: 1rem;
  font-weight: 700;

}
.header__menu .header__fun li{
  margin: 0 0.8rem;

}
.header__menu .header__fun a{
  transition: all .5s;

}
.header__menu .header__fun li a:hover{
  color: #609966;

}
.header__other {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #616E85;
  font-size: 0.8rem;
  font-weight: 500;
}
.header__other span{
  margin: 0 0.5rem;
}
.header__other .other1, .header__other .other2 {
  padding: 10px;
  border-radius: 5px;
  transition: all .5s;
  cursor: pointer;
}
.header__other .other1:hover, .header__other .other2:hover {
background-color: #EFF2F5;
}
.header__menu form input {
 background-color: #EFF2F5;
 border: none;
}
.header__menu form input:focus {
  background-color: #EFF2F5;
  border: none;
  outline: none;
  box-shadow: none;
 }
.header__menu form input::placeholder {
  font-weight: 700;
  font-size: 0.8rem;
}

/* FINDING  */
.find__row .f_col8 h3{
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  transition: all .5s;
}
.find__row .f_col8 h3:hover{
  color: #609966;
}
.find__row .f_col4{
  display:  flex;
  align-items: center;
  justify-content: space-between;
}
.find__row .f_col4 .f_btn {
  
  background-color: #90d26d42;
  color: #609966;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 2rem;
  font-weight: bold;
  padding:0 10px
}
.find__row .f_col4 .farm__mode {
  background-color: #609966;
  color: white;
}
.find__box {
  width: 100%;
  height: 350px;
}
.find__box input {
  display: block;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  margin: 2rem auto;
  
  background-color: #EFF2F5;
  padding: 0 20px;
  border: none;

}
.find__box input:focus, .find__box textarea:focus {
 border: none;
 outline: none;

}
.find__box input::placeholder, .find__box textarea::placeholder {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-top: 1rem;
  
  
}
.finding {
  position: relative;
}
.find__box button {
  width: 120px;
  height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  background-color: #609966;
  color: white;
  border: none;

  position: absolute;
  bottom: 0%;
  left: 45%;

  transition: all .5s;
}
.find__box button:hover {
 background-color: white; 
 color: #609966;
 border: 1px solid #609966;
}

.find__box textarea {
  
    display: block;
    width: 80%;
    height: 150px;
    border-radius: 5px;
    margin: 2rem auto;
    background-color: #EFF2F5;
    padding: 0 20px;
    border: none;
    resize: none;
}
.result .result__box {
  background-color: #60996674;
  width: 60%;
  height: 50px;
  margin: 1rem auto;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}






/* RESULT  */
.row__common {
  text-align: center;
  font-weight: 700;
  color: #5c5e5f;
  margin: 5px 0;
  border-bottom: 1px solid #EFF2F5;
}

.row__common .common {
  padding: 10px;
}
.my__row__header {
  border-top: 1px solid #EFF2F5;
}

.res__trend {
  filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
}
.my__row__header .res__check {
  background-color: transparent;
}
.res__check {
  background-color: #EFF2F5;
  border-radius: 5px;
  width: 100px;
  height: 40px;
 cursor: pointer;
 transition: all .5s;
}
.res__check:hover {
  background-color: #d5d7d8;

}
.my__row__res a {
  text-decoration: none;
  color: #5c5e5f;
}

/* FEEDBACK  */
.feedback .bg{
  background-image: url('../IMG/slide3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 350px;
  
}

.feed__row .fe__col6__1{
  padding: 50px;
}

.feed__row .fe__col6__1 h3{
  font-weight: 700;
  
}
.feed__row .fe__col6__1 p {
  margin-bottom: 2rem;
}
.feed__row .fe__col6__1 input {
  width: 100%;
  height: 40px;
  border-radius: 5px; 
  background-color: #EFF2F5;
  border: none;
}
.feed__row .fe__col6__1 input:focus {
 outline: none;
}
.feed__row .fe__col6__1 input::placeholder {
  font-weight: bold;
  padding-left: 20px;
 }
 .feed__row .fe__col6__1 input::placeholder {
  font-weight: bold;
  padding-left: 20px;
 }



/* FOOTER  */
.foot__row .f_col4 p {
  color: #609966;
  font-weight: bold;
  font-size: 1.3rem;
}
.foot__row .footer__item h3 {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.foot__row .footer__item ul {
  padding: 0;
 }
 .foot__row .footer__item {
  margin: 0 2rem;
 }
.foot__row .footer__item li {
 list-style: none;
 margin: 5px 0;
}
.foot__row .footer__item a {
  color: #5c5e5f;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-decoration: none;
}

/* RESPONESIVE  */
@media screen and (max-width: 1443px) {
  /* HEADER TOP  */
  .header__item {
    display: none;
  }
}
@media screen and (max-width: 1216px) {
  /* NAVBAR */
  .header__other {
    display: none;
  }

  /* RESULT  */
  .res__check {
    display: none;
  }
}
@media screen and (max-width: 1199.9px) {
  /* SEARCH BOX  */
  .finding .f_col4 p{
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 991.9px) {
  /* SEARCH BOX  */
  .finding .f_col4{
    display: block
  }
  .finding .f_col4 .f_btn{
    display: block;
    width: 60%;
    margin: 1rem 0;
  }
}
@media screen and (max-width: 767.9px) {
  /* SEARCH BOX  */
  .finding .f_col4{
    display: block
  }
  .finding .f_col4 .f_btn{
    display: block;
    width: 80%;
    margin: 1rem 0;
  }

  /* RESULT  */
  .res__trend {
    display: none;
  }
}
@media screen and (max-width: 575.9px) {
  /* FEEDBACK  */
  .feed__row .bg {
    display: none;
  }
  .feed__row .fe__col6__1 {
    width: 100%;
  }
}

@media screen and (max-width: 517px) {
  /* HEADER TOP  */
  .header__button {
    display: none;
  }
  .header__login {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 479.9px) {
  /* SEARCH BOX  */
  .finding .f_col4{
    display: block
  }
  .finding .f_col4 .f_btn{
    display: block;
    width: 100%;
    margin: 1rem 0;
  }
}
@media screen and (max-width: 422.9px) {
.foot__row .f_col4 {
  display: none;
}
.foot__row .f_col8 {
  width: 100%;
}
}

@media screen and (max-width: 361.9px) {

  /* RESULT  */
  .res__name, .res__suppli {
    display: none;
  }
}


